h4 {
    text-align: center;
}

div.content {
    margin-left: 320px;
    padding: 1px 16px;
    height: 500px;
}

body {
    font-family: Arial;
    margin: 0;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 320px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* button class */
.button {
    height:50px;
    width:300px;
    background-color: #0080FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 6px;
    cursor: pointer;
}
  
/* Header/Logo Title */
.header {
    padding: 1px;
    text-align: center;
    background: #0080FF;
    color: white;
    font-size: 24px;
}
  
/* Page Content */
.content {padding:10px;}

/* switch class */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 4px 2px
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

